* {
  box-sizing: border-box;
}

img {
  background-color: #000A24;
  border-color: #000A24;
}

.info_modal {
  position: relative;
  height: 30px;
  width: 30px;
  margin-bottom: 0px;
}

.info_modal img {
  height: 30px;
  width: 30px;
}

.info_modal:hover:after {
  position: absolute;
  content: attr(title);
  width: 300px;
  padding: 15px;
  background-color: black;
  border: 3px solid #BCED09;
  border-radius: 2px;
  color: #BCED09;
}

button {
  border-color: #000A24;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #000A24;
}

h1 {
  color: #BCED09;
  
}

h2 {
  color: #BCED09;
}

h3 {
  color: #BCED09;
  float: left;
  width: 50%;
  font-weight: 500;
}

h4 {
  color: #000A24;
  text-align: center;
  font-size: 30px;
}

h5 {
  color: #000A24;
  text-align: center;
  font-size: 10px;
}

p {
  /* color: #BCED09; */
  color: #000A24;
}

#privateKey {
  color: #000A24;
  font-size: 15px;
  word-wrap: break-word;
}

label {
  color: #BCED09;
}

.send_btn {
  font: inherit;
  width: 40%;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #000A24;
  color: #BCED09;
  border: 3.5px solid #BCED09;
}

.send_btn:hover {
  cursor: grab;
  opacity: 80%;
}

.send_btn {
  max-width: 7rem;
}

.send_btn:hover {
  background-color: #BCED09;
  color: #000A24;
}

.send_btn--alt {
  background-color: transparent;
  color: #800040;
}

.graphic {
  height: 20px;
  margin-right: 0.5rem;
}

.redirect {
  background-color: #000A24;
  padding: 1rem;
  margin-left: 5%;
  width: 20%;
  border-style: solid;
  border-width: 3.5px;
  border-radius: 8px;
  border-color: #BCED09;
  float: left;
}

.redirect:hover {
  cursor: grab;
  opacity: 80%;
}
.send_btn--alt:hover {
  background-color: #f8dae9;
}

.cubes {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 100%;
}

.redirect_decal {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 100%;
}

.login_bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.float-container {
  padding: 10px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 10px;
}

.chain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.block {
  background-color: #000A24;
  border-style: solid;
  border-width: 5px;
  border-color: #BCED09;
  border-radius: 5%;
  width: 250px;
  color: #BCED09;
  text-align: center;
  padding-top: 20px;
  aspect-ratio: 1;
}

.pow {
  margin-left: 10px;
  margin-top: 25px;
  background-color: #000A24;
  border-style: solid;
  border-width: 5px;
  border-color: #BCED09;
  border-radius: 5%;
  width: 220px;
  height: 100px;
}

.more_modal {
  margin-left: 45px;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: #000A24;
  border-style: solid;
  border-width: 5px;
  border-color: #BCED09;
  border-radius: 5%;
  width: 150px;
  color: #BCED09;
  text-align: center;
  padding-top: 10px;
  height: 60px;
}

.more_modal img {
  height: 30px;
  width: 30px;
  margin: auto;

}

.more_modal:hover:after {
  position: absolute;
  content: attr(title);
  width: 300px;
  padding: 15px;
  background-color: black;
  border: 3px solid #BCED09;
  border-radius: 2px;
  color: #BCED09;
}

.balance {
  font: inherit;
  cursor: pointer;
  width: 20%;
  margin: auto;
  padding-top: 15px;
  padding-left: 8%;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50px;
  background-color: #000A24;
  color: #BCED09;
  border: 3.5px solid #BCED09;
}

.card {
  background-color: #000A24;
  padding: 2rem;
  margin-top: 1rem;
  max-width: 100%;
  border-style: solid;
  border-width: 3.5px;
  border-radius: 8px;
  border-color: #BCED09;
  align-content: center;
}

.login_modal {
    background-color: #F3FADD;
    max-width: 40%;
    max-height: 60%;
    border-style: solid;
    border-width: 3.5px;
    border-radius: 8px;
    border-color: #F3FADD;
    align-content: center;
}

.login_bg {
  height: 1030px;
  position: fixed;
  top: -5%;
  right: -5%;
}

@media only screen and (max-width:1200px)
{
  .login_bg {
    top: -5%;
    right: -30%;
  }
}

@media only screen and (max-width:900px)
{
  .login_bg {
    display: none;
  }
}

.card_items {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.send_btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 40px;
}

.card_title {
  font-weight: 500;
  letter-spacing: 10px;
}

.login_text {
  background-color: #DEE7C1;
  border-style: solid;
  border-width: 0;
  border-radius: 8px;
  color: #000A24;
  height: 3rem;
}

#key {
  margin-left: 20%;
  width: 60%;
  color: #DEE7C1;
  height: 3rem;
}

#amount {
  margin-right: 8%;
  width: 40%;
}

#receiver {
  margin-left: 1rem;
  width: 40%;
  margin-right: 0%;
}

#public_key {
  word-wrap: break-word;
}

input[type="text"] {
  background-color: #000A24;
  border-style: solid;
  border-color: #BCED09;
  border-width: 4px;
  border-radius: 8px;
  margin-right: 20%;
  color: #DEE7C1;
  height: 3rem;
}

input[type="text"]::placeholder {
  color: #bced09;
  opacity: 60%;
}

input[type="button"] {
  width: 60%;
  margin-left: 20%;
  margin-top: 1rem;
  height: 2rem;
  font-weight: bolder;
  border-radius: 50px;
  background-color: #BCED09;
}

::placeholder {
  color: #353e18;
  padding-left: 8px;
  opacity: 50%;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #BCED09;
  padding-left: 8px;
  opacity: 50%;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #BCED09;
  padding-left: 8px;
  opacity: 50%;
}

.actions {
  text-align: right;
}

a:visited {
  color: #BCED09;
}

.signup_btn {
  width: 60%;
  margin-left: 20%;
  margin-top: 1rem;
  height: 2rem;
  font-weight: bolder;
  border-radius: 50px;
  background-color: #BCED09;
}

.login_btn {
  width: 50%;
  margin-left: 25%;
  margin-top: -2rem;
  margin-bottom: 1rem;
  height: 2rem;
  font-weight: bolder;
  border-radius: 50px;
  background-color: #BCED09;
}

.logo {
  margin-bottom: 4rem;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
